<footer class="text-center footer bg-dark py-2 mt-auto">
  <div class="container text-muted">
    <p>
      &copy; YelpCamp<sup>DC</sup> 2022
      <br />
      <small
        >A
        <a
          class="text-white-50"
          href="https://www.udemy.com/course/the-web-developer-bootcamp/"
          target="_blank"
        >
          Web Developer Bootcamp</a
        >
        project by
        <a
          class="text-white-50"
          href="https://www.udemy.com/user/coltsteele/"
          target="_blank"
        >
          Colt Steele</a
        >. This clone was built by
        <a
          class="text-white-50"
          href="https://github.com/cuongpct109"
          target="_blank"
        >
          Trần Duy Cường</a
        >
        on February - March 2022. Most photos are from
        <a
          class="text-white-50"
          href="https://unsplash.com/collections/483251/in-the-woods"
          target="_blank"
          >Unsplash</a
        >.
      </small>
    </p>
  </div>
</footer>
