#cluster-map {
  width: 100%;
  height: 50vh;
}

#map {
  height: 45vh;
}

/* #review {
  height: 45vh;
} */

.carousel-inner {
  height: 45vh;
}

.mapboxgl-ctrl-directions {
  max-width: 200px;
  min-width: 200px;
}
